/bin/remove-package-artifacts.php export-ignore
/CHANGELOG.md
/.ci/ export-ignore
/.coveralls.yml export-ignore
/.gitattributes export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/docs/ export-ignore
/mkdocs.yml export-ignore
/phpcs.xml export-ignore
/phpstan.neon.dist export-ignore
/phpunit.xml.dist export-ignore
/.laminas-ci.json export-ignore
/test/ export-ignore
/vagrantfile export-ignore
/Dockerfile export-ignore
/renovate.json
# Force our line endings to be LF, even for Windows
* text eol=lf
# Set certain files to be binary
*.png binary
*.jpg binary
*.gif binary
*.tgz binary
*.zip binary
*.tar.gz binary
*.ttf binary
