<?php

declare(strict_types=1);

// phpcs:disable PSR12.Files.FileHeader.IncorrectOrder

/**
 * Development-only configuration.
 *
 * Put settings you want enabled when under development mode in this file, and
 * check it into your repository.
 *
 * Developers on your team will then automatically enable them by calling on
 * `composer development-enable`.
 */
use Mezzio\Container;
use Mezzio\Middleware\ErrorResponseGenerator;

return [
    'dependencies' => [
        'factories' => [
            \App\DebugBar\DebugBarMiddleware::class          => \App\DebugBar\DebugBarMiddlewareFactory::class,
            \DebugBar\Bridge\MonologCollector::class         => \App\DebugBar\MonologCollectorFactory::class,
            \DebugBar\DataCollector\ConfigCollector::class   => \App\DebugBar\ConfigCollectorFactory::class,
            \DebugBar\DebugBar::class                        => \PhpMiddleware\PhpDebugBar\StandardDebugBarFactory::class,
            \DebugBar\JavascriptRenderer::class              => \App\DebugBar\JavascriptRendererFactory::class,
            ErrorResponseGenerator::class                    => Container\WhoopsErrorResponseGeneratorFactory::class,
            'Mezzio\Whoops'                                  => Container\WhoopsFactory::class,
            'Mezzio\WhoopsPageHandler'                       => Container\WhoopsPageHandlerFactory::class,
            \App\DebugBar\PhpDebugBarMiddleware::class       => \App\DebugBar\PhpDebugBarMiddlewareFactory::class,
            \PhpMiddleware\PhpDebugBar\ConfigProvider::class => \PhpMiddleware\PhpDebugBar\ConfigProvider::class,
        ],
        'delegators' => [
            \DebugBar\DebugBar::class => [
                \App\DebugBar\StandardDebugBarDelegatorFactory::class,
            ],
        ],
    ],
    'whoops'       => [
        'json_exceptions' => [
            'display'    => true,
            'show_trace' => true,
            'ajax_only'  => true,
        ],
    ],
    'middleware_pipeline' => [
        \App\DebugBar\PhpDebugBarMiddleware::class => [
            'middleware' => [
                \App\DebugBar\PhpDebugBarMiddleware::class,
            ],
            'priority' => 2, // default from package is 1000
        ],
        \App\DebugBar\DebugBarMiddleware::class => [
            'middleware' => [
                \App\DebugBar\DebugBarMiddleware::class,
            ],
            'priority' => 3,
        ],
    ],
    'phpmiddleware' => [
        'phpdebugbar' => [
            'javascript_renderer' => [
                'base_url' => '/phpdebugbar',
                'ajax_handler_bind_to_jquery' => true,
                'include_vendors' => 'css',
            ],
            'collectors' => [
                \DebugBar\DataCollector\ConfigCollector::class,
                \DebugBar\Bridge\MonologCollector::class,
            ],
            'storage' => null,
        ],
    ],
];
